/* Monokai Color Palette
red:    #ff6188;
orange: #fc9867;
yellow: #ffd866;
green:  #a9dc76;
blue:   #78dce8;
purple: #ab9df2;
*/


/* Global Styles
-------------------------------*/

@font-face {
  font-family: "Ubuntu Mono";
  src: url('fonts/UbuntuMono-R.ttf'),
  url('fonts/UbuntuMono-B.ttf'),
  url('fonts/UbuntuMono-BI.ttf'),
  url('fonts/UbuntuMono-RI.ttf');
}

html {
  font-family: 'Ubuntu Mono', monospace;
  box-sizing: border-box;
  /* apply a natural box layout model to all elements,
  but allowing components to change */

  background: #263238;
  /* background: #f5f3f4;*/
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
h2 {
  flex: 0 0 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 5px 0 5px 10px;
}
h3 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  background: white;
  color: #263238;
}

.collapsed {
  display: none;
}
.content-wrap {
  max-width: 1000px;
  border: solid 0.2rem;
  border-radius: 2px;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

section {
  display: flex;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts a {
  flex: 0 0 50;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
}

.socialMedia a {
  flex: 1 0 33;
  margin-right: 1rem;
  padding: 0.5rem 1rem;

}

.contacts a i, .socialMedia a i {
  margin-right: 0.5rem;
}


.entry {
  padding: 20px 10px 10px 10px;
  margin: 0 5px 10px 5px;
  flex: 2 0 400px;
}

.entry:after {
  content: "";
  display: table;
  clear: both
}

.uppercase {
  text-transform: uppercase;
}
.description {
  margin-bottom: 25px;
}
.description p:first-of-type {
  margin-top: 0; /* Keeps the top of the job descriptions in line with the narrow column */
}
.description ul li {
  margin: 10px 0;
}

.close {
  flex: 0 0 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border: solid 2px;
  text-align: center;
  text-transform: uppercase;
}

.close:hover {
  font-weight: bold;
  cursor: pointer;
}


/* Media Queries for phones (256px)
-----------------------------------*/

@media (min-width: 256px) {
  header {
    text-align: center;
  }

header img {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .cv-button {
    border: solid #ff6188 2px;
    color: #ff6188;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.2rem;
    width: 100%;
    height: 2rem;
    display: block;
    font-weight: bold;
  }

  .cv-button:hover {
    background: #ff6188;
  }

  .socialMedia {
    text-align: center;
  }

  .nav-min {
    display: block;
  }
  .nav-max {
    display: none;
  }
  .col-narrow {
    width: 100%;
    padding-bottom: 20px;
  }
  .col-narrow p {
    margin: 2px 0;
  }
  .col-wide {
    width: 100%;
  }
  .hobby-narrow {
    margin-bottom: 0.7rem;
  }
  nav a {
   background: #263238;
   width: 20%;
   padding: 10px 0;
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   color: white;
  }
}

/* Media Queries for medium screens (256px)
-----------------------------------*/
@media (min-width: 640px) {
  .content-wrap {
    margin: 0.5rem auto;
    border: solid 0.15rem;
  }
  header {
    text-align: left;
  }
  .socialMedia {
    text-align: left;
  }
  .hobby-narrow {
    width: 15%;
    min-height: 90px;
    padding-left: 20px;
    padding-bottom: 20px;
    float: left;
  }
  .hobby-wide {
    /* width: 85%;
    float: left; */
    flex: 0 1 200px;
    min-height: 90px;
    padding: 0 20px 10px 20px;
  }
  .col-narrow {
    /* width: 30%;
    float: left; */
    flex: 1 0 200px;
    min-height: 90px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .col-wide {
    /* width: 70%;
    float: left; */
    flex: 1 0 600px;
    min-height: 90px;
    padding: 0 20px 10px 20px;

  }

}

/* Media Queries for large screens
-----------------------------------*/
@media (min-width: 926px) {
  .content-wrap {
    margin: 1rem auto;
  }
  .nav-min {
    display: none;
  }
  .nav-max {
    position: sticky;
    display: block;
  }

  nav a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: white;
  }
}

/* Header
-------------------------------*/
#top {
  margin-top: 1rem;
}
header {
  margin-top: 4rem;
  color: #ff6188;
  border: #ff6188;
  margin-top: 4em;
}

header h1, header h2 {
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  width: 100%;
}

header p {
  font-weight: 600;
}

header h1 {
  color: #263238;
  background: #ff6188;
  padding-left: 1rem;
}

header h2 {
  border-bottom: dashed;
  padding-bottom: 0.5rem;
}


/* Navigation
-----------------------------*/

h2 i:nth-of-type(2) {
  margin-left: 1rem;
}

nav {
  text-align: center;
  font-size: 0;
}

a[href^="#skills"]:hover {
  background: #fc9867;
  color: #263238;
}

a[href^="#career"]:hover {
  background: #ffd866;
  color: #263238;
}

a[href^="#education"]:hover {
  background: #a9dc76;
  color: #263238;
}

a[href^="#hobbies"]:hover {
  background: #78dce8;
  color: #263238;
}

a[href^="#contact"]:hover {
  background: #ab9df2;
  color: #263238;
}

.nav-max {
  z-index: 200;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  color: #939ba4;
  width: 100%;
  margin: 0rem auto;
}

.nav-min {
  z-index: 200;
  bottom: 0;
  left: 0;
  position: fixed;
  color: #ff6188;
  width: 100%;
  margin: 0rem auto;
}

/* Key Skills stylesheet
-------------------------------*/
#skills {
  color: #fc9867;
  position: relative;
}

#skills h2 {
  margin-top: 0.7rem;
  color: #263238;
  background: #fc9867;
}

#skills .close:hover {
  color: #263238;
  background: #fc9867;
}

#skills h2:hover {
  cursor: pointer;
  background: rgba(252,152,103,0.5);
}

#skills h3 {
  color: #263238;
  background: #fc9867;
  text-transform: uppercase;
  padding: 5px 0 0 10px;
  font-size: 0.8rem;
  line-height: 2em;
  min-height: 40px;
}

#skills ul {
  width: 100%;
  margin: 20px 0 20px -20px;
}

#skills  li{
  width: 100%;
  list-style-type: none;
  margin: 10px auto;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-skill {
  border: solid;
  justify-content: center;
  margin: 0px 5px 15px 5px;
  flex: 2 0 150px;
}


/* Work Experience stylesheet
-------------------------------*/
#career {
  color: #ffd866;
  position: relative;
}

/* #career .entry:first-of-type {
  Block level first entry and the other entries will be inline-block
} */

#career .entry {
  /* color: #263238;
  background: rgba(255,216,102,0.8); */
  border: solid #ffd866 2px;
}

#career .close:hover {
  color: #263238;
  background: #ffd866;
}

#career h2 {
  margin-top: 0.7rem;
  color: #263238;
  background: #ffd866;
}

#career h2:hover {
  cursor: pointer;
  background: rgba(255,216,102,0.5);
}

h3 ~ p {
  margin: 0;
}

/* Education stylesheet
-------------------------------*/
#education {
  color:#a9dc76;
  position: relative;
}

#education .entry {
  /* color: #263238;
  background: rgba(169,220,118,0.8); */
  border: solid #a9dc76 2px;
}

#education h2 {
  margin-top: 0.7rem;
  color: #263238;
  background: #a9dc76;
}

#education h2:hover {
  cursor: pointer;
  background: rgba(169,220,118,0.5);
}

#education .close:hover {
  color: #263238;
  background: #a9dc76;
}


/* Hobbies
------------------------------*/
#hobbies {
  color: #78dce8;
  position: relative;
}

#hobbies .entry {
  flex: 1 0 100px;
  height: 150px;
  margin: 0 0.2rem;
  /* border: solid #78dce8 2px; */
  text-align: center;
}

#hobbies p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #263238;
  background: #78dce8;
  padding: 0.1rem 0.3rem;
}

#hobbies h2 {
  margin-top: 0.7rem;
  color: #263238;
  background: #78dce8;
}

#hobbies .table {
  margin: 0 auto;

}

#hobbies h2:hover {
  cursor: pointer;
  background: rgba(120,220,232,0.5);
}

#hobbies .close:hover {
  color: #263238;
  background: #78dce8;
}

/* Footer
------------------------*/

footer > * {
  flex: 1 0 100%;
  text-align: center;
}

#contact {
  color: #ab9df2;
  margin-bottom: 4em;
}

#contact a {
  color: #ab9df2;
}

#contact a:hover {
  color: #263238;
  background: rgba(171,157,242,1);
}

#contact .contacts a {
  flex: 1 0 auto;
  font-size: 18px;
}

#contact .socialMedia a {
  text-align: center;
  flex: 1 0 auto;
  padding: 1rem 1rem;
  margin: 0 1rem;
}

#contact a[href^="#top"]{
  margin-bottom: 1rem;
  padding: 1rem 0;
}

#contact a[href^="#top"]:hover {
  background: #ff6188;
  color: #263238;
}



#contact h2 {
  margin-top: 0.7rem;
  color: #263238;
  background: #ab9df2;
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
}
